<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1672203878"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".WellnestOneApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_wellnest_one"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wellnest_one_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WellnestOne"
        tools:targetApi="31">
        <activity
            android:name=".ui.termofservice.TermsOfServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.getintouch.ThanksGetInTouchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.getintouch.GetInTouchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.PermissionHelperActivity" />
        <activity android:name=".ui.onboarding.WelcomeActivity" />
        <activity android:name=".ui.login_signup.LoginActivity" />
        <activity android:name=".ui.CountryCodeActivity" />
        <activity android:name=".ui.verifyotp.VerifyOtpActivity" />
        <activity android:name=".ui.home.HomeActivity" />

        <service
            android:name=".pushnotification.WellnestOnePushNotificationHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.profile.CreateEditProfileActivity" />
        <activity android:name=".ui.profile.MedicalHistoryActivity" />
        <activity android:name=".ui.profile.UserProfileActivity" />
        <activity android:name=".ui.profile.EditBioActivity" />
        <activity android:name=".ui.recording.pair.PairDeviceActivity" />
        <activity android:name=".ui.recording.pair.SymptomsActivity" />
        <activity android:name=".ui.recording.capture.RecordingEcgActivity" />
        <activity android:name=".ui.recording.calibration.EcgCalibrationActivity" />
        <activity android:name=".ui.recording.capture.BluetoothLiveEcgActivity" />
        <activity android:name=".ui.recording.link.LinkRecordingActivity" />
        <activity android:name=".ui.profile.ChooseMemberActivity" />
        <activity android:name=".ui.feedback.ECGFeedbackActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wellnest.one.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>